@model IEnumerable<ChristalProduct.Models.Pills>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PillCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PillCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PillIngredients)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Milligrams)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PillCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PillCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PillIngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Milligrams)
            </td>
            <td>
                <img src="../../@Html.DisplayFor(modelItem => item.ImagePath)" height="100" width="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
