@model ChristalProduct.Models.Lubes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lubes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SiliconBased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiliconBased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterBased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterBased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hybrid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hybrid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desensitizing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desensitizing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Flavor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Flavor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddedEffects)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddedEffects)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
